body {
    font-family: Helvetica;
    background-color: green;
    color: black;
    padding: 100px;
    margin-left: 100px; 
}

h1 {
    font-family: Helvetica;
    background-color: whitesmoke;
    color: black;
    padding: 100px;
    margin-left: 100px; 
}

h2 {
    font-family: Helvetica;
    background-color: whitesmoke;
    color: black;
    padding: 100px;
    margin-left: 100px; 
}

#redditvisibility {
    width: 100px;
    height: 100px;
}

#redditstaff {
    width: 100px;
    height: 100px; 
}

#redditusers {
    width: 100px; 
    height: 100px;
}

#redditvoting {
    width: 100px;
    height: 100px;
}

#redditconfirmation {
    width: 100px;
    height: 100px;
}

#redditUI {
    width: 100px;
    height: 100px;
}

#redditmarkdown {
    width: 100px;
    height: 100px;
}

#redditcommentsection {
    width: 100px;
    height: 100px;
}

#redditerror404 {
    width: 100px;
    height: 100px;
}

#reddithelpsection {
    width: 100px;
    height: 100px;
}