body {
    font-family: Helvetica;
    background-color: whitesmoke;
    color: black;
    padding: 25px;
    margin-left: 100px; 
}

h1 {
    font-size: 1.5ex;
}

h2 {
    font-size: 1.5ex;
}

#redditvisibility {
    width: 500px;
    
}

#redditstaff {
    width: 500px;
    
}

#redditusers {
    width: 500px;
    
}

#redditvoting {
    width: 500px;
    
}

#redditconfirmation {
    width: 500px;
    
}

#redditUI {
    width: 500px;
    
}

#redditmarkdown {
    width: 500px;
    
}

#redditcommentsection {
    width: 500px;
    
}

#redditerror404 {
    width: 500px;
    
}

#reddithelpsection {
    width: 500px;
   
}